{% extends 'layouts/master.html' %} {% block content %} {% load static %}

<section class="page-section">
  <div class="container">
    <div>
      <h4>
        <b>Fixed Point Method</b>
        <i style="font-size: 24px" class="fa">&#xf059;</i>
      </h4>
      <p>
        The objective of this method is to find a root of a function from an
        initial value, a tolerance and a number of iterations, in this case it
        is not necessary to have an interval. From an equation F (X) = 0 an
        equation X = g (X) is generated, to which a solution is sought, and the
        following must be taken into account 
      </p>
      <p>1. A value of X is searched for, when replacing it in g, the result is X.</p>
      <p>2. You must choose an initial approximation Xo</p>
      <p>3. X<sub>1</sub> = g (Xo) is calculated</p>
      <p>4. And the previous step is repeated until reaching an approximation.
      </p>
      
      <p style="color:red">NOTE: You need to make sure that f(X) is continuous and g(X) is smooth and continuous on the interval. To do so, you should plot f(x) and g(x).
      <br>
         Replace ^ with ** <br>
          Example: x^2 = x**2
      </p>

      <br />
      <br />
      <div class="row">
      <div class="col-4">
        <form method="POST">
          {% csrf_token %} 
          {% for input in form %} {{input.label}}:
          <br />
          {{input}}
          <br />
          {% endfor %}
          <br />

          <input type="submit" value="Submit" />
        </form>
      </div>
      <div class="col-8">

      <table class="table table-bordered text-center">
      {% for i in res %} {% comment %} manda arr {% endcomment %}
      <tr>
        {% for j in i %} {% comment %} separa cols {% endcomment %}
          <td> {{j}} </td>
        {% endfor %}
      </tr>
      
      {% endfor %}
      </table>
      <br>

      {{sol}}
      <br>
      <br>

      </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
