{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<section class="page-section">
  <div class="container">
    <div>
      <h4><b>Secant Method</b>  </h4>
      
       <p>The objective of this method is to find a root of a function from two initial values, a tolerance and a number of iterations, in this case it is not necessary to have an interval. The secant method is defined as a variant of Newton's method. From the iterative equation that defines Newton's method, the derivative is replaced by an expression that approximates it: X2 = X1 - ((f (X1) * (X1-Xo)) / (f (X1) -f ( Xo))</p>
       <p> 1. You must choose two initial approximations X1 and X0</p>
       <p> 2. X2 = Expression is calculated, Xn = Expression (n-1)</p>
       <p> 3. And the previous step is repeated until reaching an approximation.</p>
       <br><br>

      <p style="color:red">NOTE: You need to make sure that the function in continuous for the given interval.
      <br>
          Replace ^ with ** <br>
          Example: x^2 = x**2
      </p>
      <details>
        <summary><i style="font-size:24px" class="fa">&#xf059;</i></summary>
        <ul>
          <li>Tolerance must have a positive value.</li>
          <li>The iteration number must be positive.</li>
          <li>The function must be continuous and differentiable.</li>          
          <li>Be sure the derivatives of the function are correct.</li>
          <li>For the method to be faster the initial values must be close to the root</li></ul>
       </details>
       <br /><br />
        <div class="row">
        <div class="col-4">
          <form method="POST">
            {% csrf_token %} 
            {% for input in form %} {{input.label}}:
            <br />
            {{input}}
            <br />
            {% endfor %}
            <br />

            <input type="submit" value="Submit" />
          </form>
        </div>
        <div class="col-8">

        <table class="table table-bordered text-center">
        {% for i in res %} {% comment %} manda arr {% endcomment %}
        <tr>
          {% for j in i %} {% comment %} separa cols {% endcomment %}
            <td> {{j}} </td>
          {% endfor %}
        </tr>
        
        {% endfor %}
        </table>
        <br>

        {{sol}}
        <br>
        <br>

        </div>
        </div>

    </div>
  </div>
</section>

{% include 'layouts/modal.html' with id='miid' text='mitexto'%}

{% endblock content %}