{% extends 'layouts/master.html' %} {% block content %} {% load static %} {%
load mathfilters %}

<div>
  <section class="page-section">
    <div class="container">
      <!-- Contact Section Heading-->
      <h2
        class="page-section-heading text-center text-uppercase text-secondary mb-0"
      >
        Doolittle
      </h2>
      <br />
      <br />
      <p>
        This method is part of the LU methods for matrix factorization, where a
        matrix A is factored into L (Upper Triangular) and U (Lower Triangular).
        Given Ax = b, we would have LUx = b and if Ux = z, then Lz = b. In this
        specific method, The diagonal of L and U are equal L [i] [i] = 1. After
        we have the factorized matrix, progressive substitution is made with the
        L matrix and the results b to find the values of z, then backward
        substitution is used to find the values of x, which would be the
        solution of the system .
      </p>
      <details>
        <summary><i style="font-size:24px" class="fa">&#xf059;</i></summary>
        <ul>
          <li>Make sure all the fields in the array are filled.
          <li>The determinant of the matrix cannot be 0.</li>
          <li>The diagonal of the matrix cannot have 0.</li>
         </ul>
       </details>
      <div class="grid-container">
        <div class="grid-child purple">
          <br />
          <h6>Enter matrix size</h6>
          <section id="plot">
            <form action="{% url 'doolittle.index' %}" , method="post">
              {% csrf_token %} {{ form}}
              <!-- <input type=number id="sizeMatriz"  value=2 step=1 min=2> -->
              <br />
              <br />
              <button
                class="btn btn-primary btn-xl"
                id="sendMessageButton"
                type="submit"
                name="rows_matrix"
              >
                Enter Rows
              </button>
            </form>
          </section>
        </div>
        {% if message %}
        <h1 style="text-align: center;">{{ message }} </h1>
        {%endif%}


        <div class="row">
          
        </div>
          <form action="{% url 'doolittle.index' %}" , method="post" class="ab">
        		<div class="row">
							{% csrf_token %}
							<div class="col-8 text-center">
							<h5>A</h5>


              {%if matrix1.any%}
              {%for row in matrix1%}
              <div class="row mr-3" style = "border: 1px solid black mr-3">
                {%for element in row%}
                  <input
                  id= "element"
                  name ="element"
                  type="text"
                  class="col"
                  style="
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                    border-bottom-style: groove;
                    border: 1px solid black;
                    background-color: #eee;
                  "
                  value="{{element}}"
                />
    
                {%endfor%}
              </div>
    
              {%endfor%}
              

              {%else%}
              {% with ''|center:size as range %}
							{% for i in range %}
              {% for j in range %}
              {{element}}
              {%endfor%}
              <br>
              {%endfor%}
              {% endwith %}
						 {%endif%}

							
              </div>
              <br>
							<div class="col-4 text-center">
							<h5>b</h5>
              {%if matrix2.any%}
              {%for row in matrix2%}
             
                {%for element in row%}
                <div class="row" style = "border: 1px solid black ml-3">
                  <input
                  id= "element"
                  name ="element"
                  type="text"
                  class="col"
                  style="
                    border-top-style: hidden;
                    border-right-style: hidden;
                    border-left-style: hidden;
                    border-bottom-style: groove;
                    border: 1px solid black;
                    background-color: #eee;
                  "
                  value="{{element}}"
                />
            </div>
    
                {%endfor%}
              
    
              {%endfor%}
              

              {%else%}
              {% with ''|center:size as range %}
              {% for j in range %}
              {{element}}
              <br>
              {%endfor%}
              {% endwith %}
						 {%endif%}
							</div>
        		</div>
						<div class='row'>
							<div class='col-12 text-center'>
								<button
									class="btn btn-primary btn-xl ml-5"
									id="sendMessageButton"
									type="submit"
									name="method"
								>
									Run
								</button>
							</div>
						</div>
          </form>






        <h5 style="text-align: center" class="mt-4">Doolittle Method</h5>
        <h1>Paso 1</h1>
        {%for matrix in matrixs%} 

       
        {% if forloop.counter|add:1|divisibleby:2 and forloop.counter0 > 0 %}	
          {%with a=forloop.counter|add:1%}
        <h1>Paso {% widthratio a 2 1 %}</h1>	
        {%endwith%}
       {%endif%}
        <div class="container mt-5">
          {% for row in matrix %}

          <div class="row justify-content-center array_div" >
            {% for element in row %}

            <div class="col-3" style= "border: 1px solid black">
              {{element}}
            </div>

            {%endfor %}

            <br />
          </div>
          {%endfor %}
          <br />
        </div>
        {%endfor%} {%if ans.any%}

        <h1 class="mt-4">Resultado:</h1>
        <div class="container" style="border: 1px solid black">
          {%for element in ans%}
          <div class="row justify-content-center" style="border:1px solid black">
            {{element}}
          </div>
          {% endfor %}
        </div>
        {%endif%}

        <div id="success"></div>
        <!-- <button onclick="plot()">Click Here</button> -->
      </div>
    </div>
  </section>
</div>
{% endblock content %}
