{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
<div>
    <section class="page-section" >
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">SIMPLE LU</h2>

                        <div class="grid-container">
                                    <div class="grid-child purple">
                                        <br>
                                        <h6>Enter matrix size</h6>
                                        <section id="plot">
                                            <form action= "{% url 'gaussSimple.index' %}", method="post">
                                                {% csrf_token %}
                                                {{ form}}
                                                <!-- <input type=number id="sizeMatriz"  value=2 step=1 min=2> -->
                                                <br>
                                                <br>
                                                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" name="rows_matrix">Enter Rows</button></div>
                                                
                                            </form>

                                        </section>
                                                                                
                        
                        <div class="matrix">
                            <form action= "{% url 'gaussSimple.index' %}", method="post" class="ab">
                                {% csrf_token %}

                                <div class="a">
                                    <h5>A</h5>
                                    {% with ''|center:size as range %}
                                    {% for i in range %}
                                        {% for j in range %}
                                             <!-- <input id = i,j type=number> -->
                                             {{element}}
                                        {% endfor %}
                                        <br>
                                    {% endfor %}
                                    {% endwith %}
                                
                                    </div>

                                    <div class="a"> 

                                    <h5>b</h5>
                                    {% with ''|center:size as range %}
                                        {% for i in range %}
                                             <!-- <input id = i,j type=number> -->
                                             {{element}}
                                            <br>
                                        {% endfor %}
                                    {% endwith %}
                                    
                                    </div>

                                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" name='method' >Enter Rows</button>
                            </form>

                            {% if message%}
                               <p style="text-align: center;">{{ message }} </p>
                            {% endif %}

                            {% if matrixs %}
                                {%for matrix in matrixs%}
                                    {% for row in matrix %}
                                        <p class="stage" style='text-align: center;' >{{ row }}</p>
                                    {%endfor %}
                                {%endfor%}
                            {% endif %}
                            {{matrixs}}

                            <!-- {% if stages %}
                                {%for i in stages%}
                                    <p class="stage" style='text-align: center; font-weight: bold;'>Stage {{ i }} </p>
                                    <p> matrix {{matrixs.i}}</p>
                                         {{ matrixs.i|slugify }} 
                                    <br>
                                {%endfor%}
                            {% endif %} -->
                               
                        </div>
                                <script src="https://d3js.org/d3.v3.min.js"></script>
                                <script src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
                                <script src="{% static 'assets/js/graph.js' %}"></script>
                         
                            
                        <div id="success"></div>
                        <!-- <button onclick="plot()">Click Here</button> -->
                        
  </div>
  {% endblock content %}