{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
<div>
    <section class="page-section" >
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Jacobi </h2>
            <br>
            <br>
                    <p>
                    Jacobi is an iterative method for determining the solution of equations. It is based on generating approximations to the result based on an initial approximation. 
                    The method first tries to convert the given matrix into a diagonally dominant matrix by permutations of rows and columns. Subsequently, each equation is taken and the variable of the diagonal is put in terms of the other variables, after this it is there is the first approximation assigning initial values to the variables using the equations generated previously, the assigned values are obtained through the calculations carried out in the same cycle. 
                    This process is repeated until the dispersion value is less than the tolerance value, or until the number of iterations is exceeded. 
                    </p>
                    <details>
                        <summary><i style="font-size:24px" class="fa">&#xf059;</i></summary>
                        <ul>
                          <li>Make sure all the fields in the array are filled.
                          <li>The determinant of the matrix cannot be 0.</li>
                          <li>The diagonal of the matrix cannot have 0.</li>
                          <li>Tolerance must have a positive value.</li>
                          <li>The iteration number must be positive.</li>
                         </ul>
                       </details>
                        
                                    <div class="grid-child purple ">
                                        <br>
                                        <h6>Enter matrix size</h6>
                                        <section id="plot">
                                            <form action= "{% url 'jacobi.index' %}", method="post">
                                                {% csrf_token %}
                                                       {{form}}
                                                {% comment %} <input type=number id="sizeMatriz"  value=2 step=1 min=2> {% endcomment %}
                                                <br>
                                                <br>
                                                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" name="rows_matrix">Enter Rows</button>
                                        </div>
                                                
                                            </form>

                                        </section>
                                                                                
                        
                      
                            <form action= "{% url 'jacobi.index' %}", method="post" class="ab">
                                {% csrf_token %}
                                <div class="ml-3 mr-3">
                                    {{form2}}
                                    </div>
                                <div class="row">
                                    <div class="col ml-5 mr-3">
                                        <h5>A</h5>
                                        {%if matrix1.any%}
                                        {%for row in matrix1%}
                                        <div class="row ml-3 mr-3" style = "border: 1px solid black mr-3">
                                          {%for element in row%}
                                            <input
                                            id= "element"
                                            name ="element"
                                            type="text"
                                            class="col-3"
                                            style="
                                              border-top-style: hidden;
                                              border-right-style: hidden;
                                              border-left-style: hidden;
                                              border-bottom-style: groove;
                                              border: 1px solid black;
                                              background-color: #FFF;
                                            "
                                            value="{{element}}"
                                          />
                              
                                          {%endfor%}
                                        </div>
                              
                                        {%endfor%}
                                        
                          
                                        {%else%}
                                        {% with ''|center:size as range %}
                                                      {% for i in range %}
                                        {% for j in range %}
                                        {{element}}
                                        {%endfor%}
                                        <br>
                                        {%endfor%}
                                        {% endwith %}
                                                   {%endif%}
                                        </div>
    
                                        <div class="col"> 
    
                                        <h5>X0</h5>
                                        {%if matrixx0.any%}
                                        {%for row in matrixx0%}
                                        {%for element in row%}
                                        <div class="row">
                                            <input
                                            id= "element"
                                            name ="element"
                                            type="text"
                                            class="col"
                                            style="
                                              border-top-style: hidden;
                                              border-right-style: hidden;
                                              border-left-style: hidden;
                                              border-bottom-style: groove;
                                              border: 1px solid black;
                                              background-color: #FFF;
                                            "
                                            value="{{element}}"
                                          />
                                        </div>
     
                          
                                      {%endfor%}
                                        {%endfor%}
                                        {%else%}
                                        {% with ''|center:size as range %}
                                            {% for i in range %}
                                                 <!-- <input id = i,j type=number> -->
                                                 {{element}}
                                                <br>
                                            {% endfor %}
                                        {% endwith %}
                                        {%endif%}
                                        </div>
    
                                        <div class="col"> 
    
                                        <h5>b</h5>
                                        {%if matrixb.any%}
                                        {%for row in matrixb%}
                                        {%for element in row%}
                                        <div class="row">
                                            <input
                                            id= "element"
                                            name ="element"
                                            type="text"
                                            class="col"
                                            style="
                                              border-top-style: hidden;
                                              border-right-style: hidden;
                                              border-left-style: hidden;
                                              border-bottom-style: groove;
                                              border: 1px solid black;
                                              background-color: #FFF;
                                            "
                                            value="{{element}}"
                                          />
                                        </div>
     
                          
                                      {%endfor%}
                                        {%endfor%}
                                        {%else%}
                                        {% with ''|center:size as range %}
                                            {% for i in range %}
                                                 <!-- <input id = i,j type=number> -->
                                                 {{element}}
                                                <br>
                                            {% endfor %}
                                        {% endwith %}
                                        {%endif%}
                                        </div>
                                </div>
                                

                                <button class="btn btn-primary btn-xl ml-5 mr-3" id="sendMessageButton" type="submit" name='method' >Run</button>
                            </form>

                            {% if message%}
                               <h1 style="text-align: center;">{{ message }} </h1>
                            {% endif %}



              
                        <h5 style="text-align: center;">Jacobi </h5>

                                        
                                        <div class="container"><div class="row">
                                            <div class="col-1">
                                                {% if matrixs %}
                                                <div class="row" style = "border:1px solid black; background:#00899b">
                                                    Iteration #
                                                </div>
                                                {%for row in matrixs%}
                                                <div class="row" style = "border:1px solid black; background:#00899b">
                                                    {{forloop.counter}}
                                                </div>
                                                {%endfor%}
                                                {%endif%}
                                            </div>

                                            {%if error%}
                                            <div class="col">
                                            <div class="row" style = "border:1px solid black;  background:#00899b">
                                                Error
                                            </div>
                                            {%for element in error%}
                                            
                                            <div class="row " style = "border:1px solid black">{{element}}</div>
                                         
                                            {%endfor%}
                                            </div>
                                            {%endif%}
                                            {% if matrixs %}
                                            <div class="col">
                                                <div class="row" style = "border:1px solid black;  background:#00899b">
                                                    Vector
                                                </div>
                                                {% for row in matrixs %}
                                                <div class="row">
                                                    
                                                    
                                                    
                                                    {%for element in row%}
                                                        <div class="col" style ="border:1px solid black">
                                                            {{element}}
                                                        </div>
                                                    {%endfor%}
                                                </div>
                                                
                                            {%endfor %} 
                                            {% endif %}
                                            </div>

                                        </div>

                                    </div>
                                            
                                    <div class="container TC mt-5">
                                        <div class="row">
                                            {%if T.any%}
                                            <div class="col-1">
                                                <h3>T=</h3>
                                            </div>
                                            <div class="col">
                                                {%for row in T%}
                                                <div class="row" >
                                                    {%for element in row%}
                                                        <div class="col" style = "border: 1px solid black">
                                                            {{element}}
                                                        </div>
                                                    {%endfor%}
                                                </div>
                                                
                                                
                                            {%endfor%}
                                            </div>

                                        {%endif%}
                                        {%if C.any%}
                                        <div class="col-1 ml-5">
                                            <h3>C=</h3>
                                        </div>
                                        
                                        {%endif%}
                                        <div class="col-3">
                                            {%for row in C%}
                                           
                                                {%for element in row%}
                                                <div class="col" style = "border: 1px solid black">
                                                {{element}}
                                                </div>
                                                {%endfor%}
                                           
                                            {%endfor%}
                                            <br>
                                            <br>
                                        </div>

                                        </div>

                                    </div>
                                
                       

                    
          
  </div>
  
  {% endblock content %}    
