{% extends 'layouts/master.html' %} {% block content %}

<style>
  #x_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  #y_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  tr,
  td {
    border: 2px solid black;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<script>
  function appendInput() {}
</script>

<section class="container page-section">
  <div>
    <h4 class="methods-title text-uppercase text-secondary mb-0">Splains</h4>
    <a href="./"><i style="font-size: 24px" class="fa">&#xf059;</i></a>
    <p>
      The Splains seeks to interpolation of a given data set, this set must be
      composed by {x,y} pairs for which the method generate a corresponding
      piecewise function s(x). <br />
      There are 3 kinds of splain (lineal, cuadratic and cubic) which will
      determine the degree of the funcions defined in s(x). <br />
      The set of x values must be unique between them, otherwise the method wont
      be able to interpolate.
    </p>
    <p>
      1. <strong>Variables</strong>: number of x values you want to set (max=15)
    </p>
    <p>2. <strong>Splain</strong>: splain method you want to use</p>
    <p>
      3. <strong>X</strong>: X values of the data set you want to interpolate
    </p>
    <p>
      4. <strong>Y</strong>: Y values of the data set you want to interpolate
      matching verticaly the corresponding X value
    </p>
  </div>

  <div class="text-center">
    <div>
      <label for="variables">Dimension:</label>
      <input type="number" id="variables" onchange="appendInput()" />

      <br />
      <br />
      <form method="post" class="text-center" action="./">
        {% csrf_token %}

        <label for="method">Pivot method:</label>
        <select name="method" id="method">
          <option selected>Partial</option>
          <option>Total</option>
        </select>

        <br />
        <br />

        <table align="center">
          <tr id="x_row">
            <th scope="row">X</th>
            {% if default %}
            <td>
              <input
                name="x"
                type="number"
                id="x_input"
                step="any"
                value="-1"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="0"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="4"
              />
            </td>
            {% elif xSplain %} {% for i in xSplain %}
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
          <tr id="y_row">
            <th scope="row">Y</th>
            {% if default %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="15.5"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="8"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="1"
              />
            </td>
            {% elif ySplain %} {% for i in ySplain %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
        </table>
        <br />
        <button type="btn submit">Interpolate</button>
      </form>
    </div>
    <div>
      {% if coefficients and tracers %}
      <h4 class="methods-title text-uppercase text-secondary mb-0">
        COEFFICIENTS
      </h4>
      <br />
      {% for i in coefficients %} {{ i }}
      <br />
      {% endfor %}
      <br />
      <br />

      <h4 class="methods-title text-uppercase text-secondary mb-0">
        TRACERS s(x)
      </h4>
      <br />
      {% for i in tracers %} {{ i }}
      <br />
      {% endfor %} {% endif %}
    </div>
    {% if message %}
    <h4 class="methods-title text-uppercase text-secondary mb-0">Output</h4>
    <br />
    {{ message }}
    <br />
    {% endif %}
  </div>
</section>
{% endblock content %}
