{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}
<div class="container"></div>
{%include 'layouts/nav_bar.html'%}

    <!-- Masthead-->
    
        <div class="card">
            
                <h4><b>About:</b></h4>
                <p>This is a project created for the course Numerical Analisis in the university of EAFIT, this project was developed using Python 3 and Django.</p>
            
        </div>
 
{%include 'layouts/footer.html'%}
</div>

   {% endblock content %}