{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<section class="page-section">
  <div class="container">
    <div class="card">
      <h4><b>About:</b></h4>
      <p>This is a project created for the course Numerical Analisis in the university of EAFIT, this project was developed using Python 3 and Django.</p>
      <p>If you wish to contribute to this project, or to install it locally, check out <a href="https://github.com/Sanchezt99/numericalapp" target="_blank" rel="noopener noreferrer">GitHub page.</a></p>          
      <p>Libraries/packages used for this project :</p>
      <ul>
        <li> 
          <a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer">Django</a>
        : Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design.</li>
        <li>  </li>
        </ul>
    </div>
  </div>
</section>

{% include 'layouts/modal.html' with id='miid' text='mitexto'%}

{% endblock content %}