{% extends 'layouts/master.html' %}
{% block content %}
{% load static %}

<section class="page-section">
  <div class="container">
    <div class="card">
      <h4><b>Help:</b></h4>
      
      <p> The application has an online help system which aims to guide the
          user in the theory of each method, to enter this system it is necessary
          display the "?" icon next to each method which you find by doing
          Click displays a window with the respective help, when finishing the
          reading the help, it can be closed like any other window by returning
          the user to the application in a natural way.</p>
          
      <ul>    
        <li>Functions must be written as the function that is taken into account
        a special notation, some examples are cited in order to clarify how
        use the different prefixes:
        </li>Sen (x): Sin(x)</li>
        </li> Ln(x): Log(x)</li>
        </li>E^(x):E**x  </li>        
        </li>X ^ 2:x**2</li>
        <li>EXAMPLE: log(sin(x)**2+1)-1/2</li>
      </ul>    
      
      <p>Functions: </p>
      <ul>
        <li>F (x): Simple function</li>
        <li>F '(X): First derivative of this function</li>
        <li>F '' (X): second derivative of the previous function</li>
        <li>G (X): Another different function</li> 
      </ul> 

      <p> If you have identified an error or a bug that is worth reporting, please create an issue on the <a href="https://github.com/Sanchezt99/numericalViews" target="_blank" rel="noopener noreferrer">GitHub project.</a> </p>
   
     </div>
  </div>
</section>

{% include 'layouts/modal.html' with id='miid' text='mitexto'%}

{% endblock content %}