{% extends "layouts/master.html" %} {% block content %} {% load static %}

<section class="page-section portfolio" id="portfolio">
  <div class="container">
    <!-- Portfolio Section Heading-->
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Methods
    </h2>

    {% include 'layouts/icon_divider.html' %}

    <div style="display: inline">
      <img
        class="img-method"
        src="{% static 'assets/img/rootimg.png' %}"
        alt=""
      />
      <h4 class="methods-title text-uppercase text-secondary mb-0">
        NON-LINEAR EQUATIONS
      </h4>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-4 mb-5">
          <a class="btn-success" href="">Incremental Search</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
