{% extends "layouts/master.html" %} {% block content %} {% load static %}

<section class="page-section" id="methods">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-secondary">
      Methods
    </h2>

    {% include 'layouts/icon_divider.html' %}

    <br />
    <br />
    <br />

    <div class="card">
      <div class="row text-center">
        <div class="col-12">
          <img
            class="avatar avatar-24 img-circle"
            src="{% static 'assets/img/rootimg.png' %}"
            alt="Factorization Methods"
            style="width: 7rem"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h4 class="methods-title text-uppercase text-secondary mb-0">
            Function roots
          </h4>
        </div>
      </div>
      <br />
      <br />
      <div class="row text-center">
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'incrementalsearch.index' %}"
            >Incremental Search
          </a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'bisection.index' %}">Bisection</a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'falseposition.index' %}"
            >False Position</a
          >
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'newton.index' %}">Newton Method</a>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'fixedPoint.index' %}"
            >Fixed Point Method</a
          >
        </div>
        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'secant.index' %}">Secant Method</a>
        </div>

        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'multipleRoots.index' %}">
            Multiple Roots
          </a>
        </div>
      </div>
      <br />
    </div>

    <br />
    <br />

    <div class="card">
      <div class="row text-center">
        <div class="col-12">
          <img
            class="avatar avatar-24 img-circle"
            src="{% static 'assets/img/FIRME.png' %}"
            alt="Factorization Methods"
            style="width: 7rem"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h4 class="methods-title text-uppercase text-secondary mb-0">
            Equation Systems
          </h4>
        </div>
      </div>
      <br />
      <br />
      <div class="row text-center">
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'doolittle.index' %}"
            >Doolittle Method</a
          >
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'gaussSeidel.index' %}">
            Gauss Seidel Method
          </a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'jacobi.index' %}">Jacobi Method</a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'gaussSimple.index' %}"
            >Gauss Simple Method</a
          >
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'pivot.index' %}">Gauss Pivots</a>
        </div>
      </div>
      <br />
    </div>
    <br />
    <br />
    <div class="card">
      <div class="row text-center">
        <div class="col-12">
          <img
            class="avatar avatar-24 img-circle"
            src="{% static 'assets/img/factorizate.png' %}"
            alt="Factorization Methods"
            style="width: 7rem"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h4 class="methods-title text-uppercase text-secondary mb-0">
            Factorization
          </h4>
        </div>
      </div>
      <br />
      <br />
      <div class="row text-center">
        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'simplelu.index' %}">LU Simple</a>
        </div>
        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'partialLU.index' %}"
            >LU Partial Pivoting</a
          >
        </div>
        <div class="col-4">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'about.index' %}">F3</a>
        </div>
      </div>
      <br />
    </div>

    <br />
    <br />

    <div class="card">
      <div class="row text-center">
        <div class="col-12">
          <img
            class="avatar avatar-24 img-circle"
            src="{% static 'assets/img/interpolation.png' %}"
            alt="Factorization Methods"
            style="width: 7rem"
          />
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <h4 class="methods-title text-uppercase text-secondary mb-0">
            Interpolation
          </h4>
        </div>
      </div>
      <br />
      <br />
      <div class="row text-center">
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'vandermonde.index' %}">Vandermonde</a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'newtondivdif.index' %}"
            >Newton Divided difference</a
          >
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'lagrange.index' %}">Lagrange</a>
        </div>
        <div class="col-3">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'splains.index' %}">Splains</a>
        </div>
      </div>
      <br />
      <div class="row text-center">
        <div class="col-12">
          <a class="btn btn-secondary btn-sm" style="font-size: 13px" href="{% url 'neville.index' %}">Neville</a>
        </div>
      </div>
      <br />
    </div>
  </div>
</section>

{% endblock content %}
