{% extends 'layouts/master.html' %} {% block content %}

<style>
  #x_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  #y_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  tr,
  td {
    border: 2px solid black;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<script>
  function appendInput() {
    let x_row = document.querySelector("#x_row");
    let y_row = document.querySelector("#y_row");
    x_row.innerHTML = "";
    y_row.innerHTML = "";

    let th_x = document.createElement("th_x");
    th_x.setAttribute("scope", "row");
    th_x.innerText = "X";
    x_row.appendChild(th_x);
    let th_y = document.createElement("th_y");
    th_y.setAttribute("scope", "row");
    th_y.innerText = "Y";
    y_row.appendChild(th_y);

    let inputValue = document.getElementById("variables").value;
    if (inputValue < 2) {
      alert("Number of variables must be greater than 1");
      inputValue = 2;
    } else if (inputValue > 15) {
      alert("Max number of variables admitted by the aplication is 15");
      inputValue = 15;
    }
    for (let i = 0; i < inputValue; i++) {
      let x_input = document.createElement("input");
      let y_input = document.createElement("input");
      let td_x = document.createElement("td");
      td_x.appendChild(x_input);
      x_input.type = "number";
      x_input.id = "x_input";
      x_input.name = "x";
      x_input.setAttribute("step", "any");
      x_row.appendChild(td_x);
      let td_y = document.createElement("td");
      td_y.appendChild(y_input);
      y_input.type = "number";
      y_input.id = "y_input";
      y_input.name = "y";
      y_input.setAttribute("step", "any");
      y_row.appendChild(td_y);
    }
  }
</script>

<section class="container page-section">
  <div class="">
    <div>
      <h4><b>Lagrange</b>  </h4>
      <p>The objective of this method is to find an interpolating polynomial that represents a function or a problem without exact definition, that passes through a set of given points.</p>
      <p> 1. We consider n the given points x of the function, with their respective value of y; given these points there is a single polynomial of degree at most n-1 that passes through them.</p>
      <p> 2. In order to define the polynomial, find the values ​​of each Li (x) with i from 1 to n. </p>
      <p> 3. Once the values ​​of L have been calculated, we can confirm the polynomial and then some additional calculations.</p>
      <p> 4. The values ​​of L can be calculated from the following structure, additionally the structure of the Lagrange polynomial can be observed.</p>
      
      <details>
        <summary><i style="font-size:24px" class="fa">&#xf059;</i></summary>
        <ul>
          <li>X vector can´t contain repeated values.</li>
          <li>The array dimension must not be less than 2 and must not be greater than 15.</li>
        </ul>
      </details>
      <br></br>
  <div class="text-center">
    <div>
      <label for="variables">Variables:</label>
      <input type="number" id="variables" onchange="appendInput()" min="2" />

      <br />
      <br />
      <form
        method="post"
        class="text-center justify-content-center"
        action="./">
        {% csrf_token %}
        <table align="center">
          <tr id="x_row">
            <th scope="row">X</th>
            {% if default %}
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="-1"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="0"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="4"
              />
            </td>
            {% elif xInterpolation %} {% for i in xInterpolation %}
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
          <tr id="y_row">
            <th scope="row">Y</th>
            {% if default %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="15.5"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="8"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="1"
              />
            </td>
            {% elif yInterpolation %} {% for i in yInterpolation %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
        </table>
        <br />
        <button type="btn submit">Interpolate</button>
      </form>
    </div>
    <div class="text-center">

      {% if lp and lps %}
      <h4 class="methods-title text-uppercase text-secondary mb-0">
        Lagrenge L<sub>i</sub> polynomials
      </h4>
      <br />
      {% for i in lp %}
        L<sub>{{ forloop.counter0 }}</sub> = {{ i }}
      <br />
      {% endfor %}


      <br />
      <br />
      <h4 class="methods-title text-uppercase text-secondary mb-0">Lagrange polynomial p(x)</h4>
      <div align="center" class="text-center">
        {% for i in lps %} 
          {% if forloop.last %}
            {{ i }}
          {% else %}
            {{ i }} +
          {% endif %}
        {% endfor %} {% endif %}
      </div>


      {% if message %}
      <h4 class="methods-title text-uppercase text-secondary mb-0">Output</h4>
      <br />
      {{ message }}
      <br />
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}