{% extends 'layouts/master.html' %} {% block content %}


<section class="container page-section">
  <div class="container">
    <div>
      
      <h4><b>Newton (Divided difference method)</b> </h4>
      <p>Newton (Divided difference method) takes as parameters a set of points and a value to evaluate and using an approximation of the Taylor series, calculates the corresponding polynomial and evaluates the value.</p>
      <p>p(x) = b0 + b1(x-x0)+b2(x-x0)(x-x1)+b3(x-x0)(x-x1)(x-x2)</p>
      <p>Where the bi are the diagonal of the aux matrix and are calculated taking into account the previous rows. Thus </p>
      <p>b0 = f [x0] \ nb1 = f [x1, x0] \ nb2 = f [x2, x1, x0] \ nbn = f [xn, ..., x0]</p>
       
      <details>
        <summary><i style="font-size:24px" class="fa">&#xf059;</i></summary>
        <ul>
           <li>X vector can´t contain repeated values.</li>
           <li>The array dimension must not be less than 2 and must not be greater than 15.</li>
        </ul>
       </details>
       <br></br>

        <div class="grid-child purple">
        <br>
        <h6>Enter matrix size</h6>
        <section id="plot">
            <form action= "{% url 'newtondivdif.index' %}", method="post">
                {% csrf_token %}
                       {{form}}
                {% comment %} <input type=number id="sizeMatriz"  value=2 step=1 min=2> {% endcomment %}
                <br>
                <br>
                <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" name="rows_matrix">Enter Rows</button>
        </div>
                
            </form>


<form action= "{% url 'newtondivdif.index' %}", method="post" class="ab">
{% csrf_token %}
    {{form2}}
    <div class= 'row'>
    <h1>x</h1>
  
        {%if x%}
        
        {%for element in x%}
        
        <div class="col">
            <input
            id= "element"
            name ="element"
            type="text"
            class="col"
            style="
              border-top-style: hidden;
              border-right-style: hidden;
              border-left-style: hidden;
              border-bottom-style: groove;
              border: 1px solid black;
              background-color: #FFF;
            "
            value="{{element}}"
          />
        </div>

     
        {%endfor%}
        {%else%}
        {% with ''|center:size as range %}
            {% for i in range %}
                 <!-- <input id = i,j type=number> -->
                 {{element}}
                <br>
            {% endfor %}
        {% endwith %}
        {%endif%}
    </div>
    <div class= 'row'>
    <h1>y</h1>
  
        {%if y%}
        
        {%for element in y%}
        
        <div class="col">
            <input
            id= "element"
            name ="element"
            type="text"
            class="col"
            style="
              border-top-style: hidden;
              border-right-style: hidden;
              border-left-style: hidden;
              border-bottom-style: groove;
              border: 1px solid black;
              background-color: #FFF;
            "
            value="{{element}}"
          />
        </div>

     
        {%endfor%}
        {%else%}
        {% with ''|center:size as range %}
            {% for i in range %}
                 <!-- <input id = i,j type=number> -->
                 {{element}}
                <br>
            {% endfor %}
        {% endwith %}
        {%endif%}
    </div>
 
<button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit" name='method' >Run</button>
</form>
        </section>
        <div class ="container">
          <div class = 'row'>
            {%if salida.any%}
            <div class = 'col'>
            <h1> Newton’s Divided Difference Table </h1>
            {%for row in salida%}
            <div class = 'row '>
              {%for col in row%}
              <div class = 'col' style = "border:1px solid black">
                {{col}}
              </div>
              {%endfor%}
            </div>
            {%endfor%}
            </div>
            {%endif%}
          </div>
          {%if term.any%}
          <h1> Newton’s Polynomial coefficients</h1>
          <div class  = "row">
          
          {%for element in term%}
          <div class = 'col mb-4' style = "border:1px solid black">
                {{element}}
          </div>
          {%endfor%}
         </div>
          {%endif%}
          {%if polinomio%}
          <h1> Newton’s polynom: </h1>
          <p style = "border:1px solid black"> {{polinomio}} </p>
          {%endif%}
          {%if polisimple%}
          <h1> Newton’s polynom: </h1>
          <p style = "border:1px solid black"> {{polisimple}} </p>
          {%endif%}
        </div>
        {%if message%}
          <h1 style = "text-align:center">{{message}}</h1>
        {%endif%}
  </div>
  </div>
</section>
{% endblock content %}