{% extends 'layouts/master.html' %} {% block content %}

<style>
  #x_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  #y_input {
    width: 70px;
    border: 0px;
    font-size: 13px;
  }
  tr,
  td {
    border: 2px solid black;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
</style>

<script>
  function appendInput() {
    let x_row = document.querySelector("#x_row");
    let y_row = document.querySelector("#y_row");
    x_row.innerHTML = "";
    y_row.innerHTML = "";

    let th_x = document.createElement("th_x");
    th_x.setAttribute("scope", "row");
    th_x.innerText = "X";
    x_row.appendChild(th_x);
    let th_y = document.createElement("th_y");
    th_y.setAttribute("scope", "row");
    th_y.innerText = "Y";
    y_row.appendChild(th_y);

    let inputValue = document.getElementById("variables").value;
    if (inputValue < 2) {
      alert("Number of variables must be greater than 1");
      inputValue = 2;
    } else if (inputValue > 15) {
      alert("Max number of variables admitted by the aplication is 15");
      inputValue = 15;
    }
    for (let i = 0; i < inputValue; i++) {
      let x_input = document.createElement("input");
      let y_input = document.createElement("input");
      let td_x = document.createElement("td");
      td_x.appendChild(x_input);
      x_input.type = "number";
      x_input.id = "x_input";
      x_input.name = "x";
      x_input.setAttribute("step", "any");
      x_row.appendChild(td_x);
      let td_y = document.createElement("td");
      td_y.appendChild(y_input);
      y_input.type = "number";
      y_input.id = "y_input";
      y_input.name = "y";
      y_input.setAttribute("step", "any");
      y_row.appendChild(td_y);
    }
  }
</script>

<section class="container page-section">
  <div class="card">
    <div>
      
      <h4><b>Newton (Divided difference method)</b> <i style="font-size:24px" class="fa">&#xf059;</i> </h4>
      <p>Newton (Divided difference method) takes as parameters a set of points and a value to evaluate and using an approximation of the Taylor series, calculates the corresponding polynomial and evaluates the value.</p>
      <p>p(x) = b0 + b1(x-x0)+b2(x-x0)(x-x1)+b3(x-x0)(x-x1)(x-x2)</p>
      <p>Where the bi are the diagonal of the aux matrix and are calculated taking into account the previous rows. Thus </p>
      <p>b0 = f [x0] \ nb1 = f [x1, x0] \ nb2 = f [x2, x1, x0] \ nbn = f [xn, ..., x0]</p>
         
      <label for="variables">Variables:</label>
      <input type="number" id="variables" onchange="appendInput()" min="2" />

      <br />
      <br />
      <form
        method="post"
        class="text-center justify-content-center"
        action="./"
      >
        {% csrf_token %}

        <label for="method">Enter the number of data to use</label>
       
        <br />
        <br />

        <table align="center">
          <tr id="x_row">
            <th scope="row">X</th>
            {% if default %}
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="-1"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="0"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="4"
              />
            </td>
            {% elif xSplain %} {% for i in xSplain %}
            <td>
              <input
                name="x"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
          <tr id="y_row">
            <th scope="row">Y</th>
            {% if default %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="15.5"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="3"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="8"
              />
            </td>
            <td>
              <input
                name="y"
                type="number"
                ,
                id="y_input"
                step="any"
                value="1"
              />
            </td>
            {% elif ySplain %} {% for i in ySplain %}
            <td>
              <input
                name="y"
                type="number"
                ,
                id="x_input"
                step="any"
                value="{{i}}"
              />
            </td>
            {% endfor %} {% endif %}
          </tr>
        </table>
        <br />
        <button type="btn submit">sub</button>
      </form>
    </div>
    <div>
      {% if coefficients and tracers %}
      <h4 class="methods-title text-uppercase text-secondary mb-0">
        COEFFICIENTS
      </h4>
      <br />
      {% for i in coefficients %} {{ i }}
      <br />
      {% endfor %}
      <br />
      <br />

      <h4 class="methods-title text-uppercase text-secondary mb-0">TRACERS</h4>
      <br />
      {% for i in tracers %} {{ i }}
      <br />
      {% endfor %} {% endif %}
    </div>
    {% if message %}
    <h4 class="methods-title text-uppercase text-secondary mb-0">Output</h4>
    <br />
    {{ message }}
    <br />
    {% endif %}
  </div>
</section>
{% endblock content %}