{% extends "layout.html" %}
{% block different %}
{% load static %}
<section class="page-section" >
	<div class="container">
	<!-- Contact Section Heading-->
	<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">SIMPLE LU</h2>

		<div class="grid-container">
								<div class="grid-child purple">
										<br>
										<h6>Enter matrix size</h6>
										<section id="plot">
												<form action= "{% url 'lusimple' %}", method="post">
														{% csrf_token %}
														{{ form}}
														<br>
														<br>
														<button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Enter Rows</button>
								</div>                                         
												</form>

										</section>                                    
				
						<div class="matrix">
						<table class="table">
								{% with ''|center:size as range %}
								{% for _ in range %}
										{% for j in range %}
													<input id = "me" type=number>
												<!-- {{matrix }} -->
										{% endfor %}
										<br>
								{% endfor %}
								{% endwith %}

						</table>
						</div>
						<script src="https://d3js.org/d3.v3.min.js"></script>
						<script src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
						<script src="{% static 'assets/js/graph.js' %}"></script>
			
				
		<div id="success"></div>
		<!-- <button onclick="plot()">Click Here</button> -->
		
	</div>
</section>
{% endblock %}
    