{% extends 'layouts/master.html' %} {% block content %} {% load static %}
<div>
  <section class="page-section">
    <div class="container">
      <h4>
        <b>Lu Simple</b>
        <i style="font-size: 24px" class="fa">&#xf059;</i>
      </h4>

      <div class="grid-container">
        <p>
          The fundamental idea is to add multiples of one equation to the others
          in order to eliminate <br />
          a variable and to continue this process until only one variable is
          left. Once this final variable <br />
          is determined, its value is substituted back into the other equations
          in order to evaluate the <br />
          remaining unknowns.
        </p>
        <p>
          To perform row reduction on a matrix, one uses a sequence of
          elementary row operations to modify <br />
          the matrix until the lower left-hand corner of the matrix is filled
          with zeros, as much as possible. <br />
          There are three types of elementary row operations:
        </p>

        <ul>
          <li>Swapping two rows</li>
          <li>Multiplying a row by a nonzero number</li>
          <li>Adding a multiple of one row to another row</li>
        </ul>
        <div class="grid-child purple">
          <br />
          <section id="plot">
            <form action="{% url 'simplelu.index' %}" , method="post">
              <div class="row">
                <div class="col-12 text-center">
                  <h6>Enter matrix size</h6>
                  {% csrf_token %} {{ form}}
                  <br />
                  <br />
                  <button
                    class="btn btn-primary"
                    id="sendMessageButton"
                    type="submit"
                    name="rows_matrix"
                  >
                    Enter Rows
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>

        <form action="{% url 'simplelu.index' %}" , method="post" class="ab">
          <div class="row">
            {% csrf_token %}

            <div class="col-12 text-center">
              <h5>A</h5>
              {% with ''|center:size as range %} {% for i in range %} {% for j in range %} {{element}} {% endfor %}
              <br />
              {% endfor %} {% endwith %}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 text-center">
              <h5>b</h5>
              {% with ''|center:size as range %} {% for i in range %}
              {{element}}
              <br />
              {% endfor %} {% endwith %}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-12 text-center">
              <button
                class="btn btn-primary"
                id="sendMessageButton"
                type="submit"
                name="method"
              >
                Enter Rows
              </button>
            </div>
          </div>
        </form>
        {% if message%}
        <p style="text-align: center">{{ message }}</p>
        {% endif %} {% if x %}
        <br />
        {%for step in sol %}
        <div class="row">
          <div class="col-12 text-center">
            <h4 class="text-center text-secondary">
              step {{ forloop.counter0 }}
            </h4>
          </div>
        </div>
        {% for matrix in step %}
        <div class="row" style="align-items: center; justify-content: center">
          <div class="col-2 text-center">
            <h4 class="text-center text-secondary">
              {% if forloop.last %}
              U =
              {% elif forloop.first %} 
              M =
              {% else %}
              L =
              {% endif %} 
            </h4>
          </div>
          <div class="col-10 text-center">
            <table class="result" align="center">
              {% for row in matrix %}
              <tr>
                {% for i in row %}
                <td class="element_matrix">{{ i }}</td>
                {% endfor %}
              </tr>
              {%endfor %}
            </table>
            <br />
          </div>
        </div>
        {%endfor %}
        <br />
        {%endfor%} {% endif %}
        <script src="https://d3js.org/d3.v3.min.js"></script>
        <script src="https://mauriciopoppe.github.io/function-plot/js/function-plot.js"></script>
        <script src="{% static 'assets/js/graph.js' %}"></script>

        <div id="success"></div>
      </div>
      {% endblock content %}
    </div>
  </section>
</div>
